:root {
	--color-light-blue: #002058;
	--color-dark-blue: #141B4D;
}

.page {
	display: flex;
	flex-direction: row;
	position: relative;
	border: solid .1vi black;
	margin: auto auto 0 auto;
	overflow: hidden;
	font-size: 1.5vi;
	font-family: Arial, Helvetica, sans-serif;
}

.Job {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 2%;
}

.Blurb {
	margin-left: 1%;
	text-wrap: balance;
}

.dates,
.date,
.title {
	margin-bottom: inherit;
	text-align: left;
	padding-left: 2%;
}

.location {
	flex-grow: 3;
	text-align: left;
	padding-left: 1em;
	align-self: flex-end;
}

.History {
	text-align: center;
}

.Column {
	width: 25%;
	display: flex;
	flex-direction: column;
}

.Job .Column {
	flex-direction: column-reverse;
}

.History,
.Contact,
.Skills {
	display: flex;
	flex-direction: column;
}

.progress {
	width: 80%;
	display: flex;
	flex-direction: row;
	background-color: var(--color-dark-blue);
	border: 1px solid rgba(0, 0, 0, 0.8);
	border-radius: 1em;
	height: 1.25em;
	margin-left: 5%;
	overflow: hidden;
}

.progress .step {
	flex-grow: 1;
	color: white;
	-webkit-text-fill-color: white;
}

.progress .step:not(:last-child) {
	border-right: 1px rgba(0, 0, 0, 0.8);
}

.progress .step.complete {
	background: #FFB81C;
}

.Contact.Skills {
	background-color: var(--color-light-blue);
}

.Left {
	width: 75%;
	margin: 0 2%;
}

.Right {
	width: 25%;
}

.ssdspan {
	white-space: pre-wrap;
}

.ssdimg {
	display: flex;
}

.cs1 {
	font-size: 1em;
	color: #333333;
}

.cs2 {
	margin-bottom: inherit;
	font-size: 1.4em;
	color: var(--color-light-blue);
	font-weight: bold;
	border-bottom: .05em black solid;
}

.cs3 {
	margin-bottom: inherit;
	font-size: 1.2em;
	color: #333333;
	font-weight: bold;
}

.cs4 {
	margin-bottom: inherit;
	font-size: 1em;
	color: #333333;
	font-style: italic;
}

.cs5 {
	margin-bottom: inherit;
	font-size: 1em;
	color: #333333;
	font-weight: bold;
}

.cs6 {
	margin-bottom: inherit;
	font-size: 1em;
	color: #333333;
}

.cs8 {
	margin-bottom: inherit;
	font-size: 2.5em;
	color: #ffb81c;
	font-weight: bold;
	text-align: left;
	padding-left: 5%;
}

.cs9 {
	margin-bottom: inherit;
	font-size: 2em;
	color: #ffffff;
	background-color: var(--color-dark-blue);
	font-weight: bold;
	text-align: left;
	padding-left: 5%;
}

.cs10 {
	margin-bottom: inherit;
	margin-left: 2%;
	font-size: 0.9em;
	color: #ffffff;
	font-weight: bold;
}

.cs11 {
	margin-bottom: inherit;
	font-size: 0.9em;
	color: #ffffff;
	padding-left: 5%;
}

.bar {
	width: 100%;
	background-color: lightgray;
	margin-right: 0px;
	height: 40%;
}

dl {
	text-align: left;
}

dd {
	margin-left: 2%;
}

ul {
	padding-left: 2%;
	text-align: left;
}

li {
	margin: 1% 0;
}