:root {
	--color-light-blue: #002058;
	--color-dark-blue: #141b4d;
	--color-bright-blue: #003594;
	--color-gold: #ffb81c;
}

.page {
	display: grid;
	border: solid 0.1vi black;
	font-size: 1.5vi;
	font-family: Arial, Helvetica, sans-serif;
	grid-template-areas: ". main sidebar";
	grid-template-columns: min-content 3fr 1fr;
	column-gap: 1%;
}

a:link,
a:visited {
	color: var(--color-bright-blue);
}

a:active,
a:hover {
	color: var(--color-gold);
}

.cs11 a:link, 
.cs11 a:visited {
    color: white;
}

.cs11 {
	margin-bottom: inherit;
	font-size: 0.9em;
	color: #fff;
	padding-left: 5%;
}

@media print {
	:root {
		--color-light-blue: gray;
		--color-dark-blue: black;
		--color-bright-blue: gray;
		--color-gold: white;
	}

	.cs11 a:link, 
	.cs11 a:visited {
		color: black;
	}
	
	.cs11 {
		color: black;
	}
}

li {
    margin: 1% 0;
}

.dates,
.date,
.title {
	margin-bottom: inherit;
	text-align: left;
}

.row p,
.row li,
.row .dates {
    margin: 0;
}

.awards .row .dates {
	text-align: right;
}

.row {
	grid-template-columns: max-content 1fr;
	column-gap: 1%;
}

.job {
	margin-top: 2%;
	grid-template: 
		"title location" 1fr "duties duties" min-content / 1fr 2fr;
}

.job,
.row {
	display: grid;
}

.blurb {
	text-indent: 1.5vi;
}

.title {
	border-bottom: .25vi solid black;
}

.location {
	align-self: center;
	padding-left: 1em;
	grid-area: location;
}

.information, dl {
	grid-area: duties;
}

.progress {
	width: 80%;
	display: flex;
	flex-direction: row;
	background-color: var(--color-dark-blue);
	border: .1vi solid rgba(0 0 0);
	border-radius: 1em;
	height: 1.25em;
	margin-left: 5%;
	overflow: hidden;
}

.progress .step {
	flex-grow: 1;
	color: var(--color-gold);
	-webkit-text-fill-color: var(--color-gold);
}

.contact.skills {
	background-color: var(--color-light-blue);
}

.left {
	grid-area: main;
}

.right {
	grid-area: sidebar;
}

.cs1 {
	color: #333;
}

.cs2 {
	text-align: center;
	margin-bottom: inherit;
	font-size: 1.4em;
	color: var(--color-light-blue);
	font-weight: bold;
	border-bottom: 0.05em black solid;
}

.cs3 {
	margin-bottom: inherit;
	font-size: 1.2em;
	color: #333;
	font-weight: bold;
}

.cs4 {
	margin-bottom: inherit;
    font-size: 1em;
	color: #333;
	font-style: italic;
}

.cs8 {
	margin-bottom: inherit;
	font-size: 2.5em;
	color: var(--color-gold);
	font-weight: bold;
	text-align: left;
	padding-left: 5%;
}

.cs9 {
	margin-bottom: inherit;
	font-size: 2em;
	color: #fff;
	background-color: var(--color-dark-blue);
	font-weight: bold;
	text-align: left;
	padding-left: 5%;
}

.cs10 {
	margin-bottom: inherit;
	margin-left: 2%;
	font-size: 0.9em;
	color: #fff;
	font-weight: bold;
}

ul {
	text-align: left;
	padding-inline-start: 2%;
}

dd {
	margin-inline-start: 1vi;
}

.progress-bar {
    width: 80%;
    background-color: var(--color-dark-blue);
    border: 1px solid rgba(0 0 0);
    border-radius: 1em;
    height: 1.25em;
    margin-left: 5%;
    overflow: hidden;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.progress-bar .progress-bar-amount {
    height: 100%;
    width: var(--percent);
    background-color: var(--color-gold);
    grid-column: 1 / 4;
    grid-row: 1;
}

.progress-bar .progress-bar-text {
    background: linear-gradient(
        90deg,
        var(--color-dark-blue) var(--percent),
        var(--color-gold) var(--percent)
    );
    grid-row-start: 1;
    grid-column: 1 / 4;
    -webkit-background-clip: text;
    background-clip: text;
	color: transparent;
}